.promo
    background: url(../img/background/bg.png) center center/cover no-repeat
    height: 650px
    .container
        padding-top: 25px
        .header
            display: flex
            justify-content: space-between
            &__text
                font-size: 12px
                font-weight: 500
                text-align: center
                color: #fff
                line-height: normal
                line-height: 18px
            &__subtext
                font-size: 18px
                font-weight: 500
                text-align: center
                color: #fff
                line-height: normal
            &__button
                display: flex
                flex-direction: column
                align-items: flex-end
                a
                    display: block
                    font-size: 18px
                    font-weight: bold
                    color: #fff
                    text-decoration: none
                    padding-bottom: 4px
            &__wrapper
                text-align: right
                margin-top: 87px
                h1
                    text-transform: uppercase
                    color: white
                h2
                    font-size: 24px
                    font-weight: 500
                    color: white
            &__reasons
                display: flex
                justify-content: flex-end
                align-items: flex-end
                margin-top: 60px
            &__item
                display: block
                text-align: center
                margin-left: 41px
                div
                    text-align: center
                    font-size: 14px
                    font-weight: 500
                    line-height: 15px
                    color: #fff
                    margin-top: 20px
            &__button-main
                margin-top: 67px
                width: 300px
                height: 50px
                font-weight: 500
                font-size: 16px
            &__more
                color: #fff
                margin-top: 8px
                a
                    color: #fff
                    text-decoration: none
                    text-decoration: underline
.second
    background-color: #f6f6f6
    height: 473px
    .advantage
        padding-top: 73px
        &__container
            display: flex
            justify-content: space-between
        h2
            text-align: center
            font-size: 30px
            font-weight: bold
            color: #0d0d0d
            text-transform: uppercase
        &__item
            margin-top: 65px
            width: 269px
            img
                display: block
                margin: 0 auto
        &__header
            font-size: 18px
            font-weight: bold
            margin-top: 35px
            text-align: center
        &__subheader
            font-size: 14px
            font-weight: 300
            text-align: center
            margin-top: 20px
            a
                color: #ff0000
.consult
    height: 680px
    background: url(../img/background/bg2.png) center center/cover no-repeat
    .consultation
        padding-top: 100px
        h2
            font-size: 36px
            font-weight: bold
            color: #fff
            text-transform: uppercase
            line-height: 1.5
            max-width: 886px
        span
            font-size: 20px
            font-weight: 500
            text-transform: uppercase
            color: #fff
            display: block
            margin-top: 8px
            line-height: 1.6
            margin-bottom: 36px